.elementor-17202 .elementor-element.elementor-element-311cda5:not(.elementor-motion-effects-element-type-background), .elementor-17202 .elementor-element.elementor-element-311cda5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    // background-color: #152442;
    background-color: #0044b8;
}

.elementor-17202 .elementor-element.elementor-element-311cda5 {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #A28537;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 00%;
    margin-bottom: -10%;
    z-index: 2;
}

.elementor-17202 .elementor-element.elementor-element-311cda5, .elementor-17202 .elementor-element.elementor-element-311cda5 > .elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-17202 .elementor-element.elementor-element-311cda5 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17202 .elementor-element.elementor-element-df21bac > .elementor-element-populated {
    margin: 4px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-17202 .elementor-element.elementor-element-59e5d6f img {
    width: 100%;
}

.elementor-bc-flex-widget .elementor-17202 .elementor-element.elementor-element-dced08c.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-17202 .elementor-element.elementor-element-dced08c.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-bc-flex-widget .elementor-17202 .elementor-element.elementor-element-9009db3.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-17202 .elementor-element.elementor-element-9009db3.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-17202 .elementor-element.elementor-element-9009db3.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-17202 .elementor-element.elementor-element-998dc26:not(.elementor-motion-effects-element-type-background), .elementor-17202 .elementor-element.elementor-element-998dc26 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    // background-color: #152442;
    background-color: #0044b8;
}

.elementor-17202 .elementor-element.elementor-element-998dc26 {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #A28537;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 00%;
    margin-bottom: -10%;
    z-index: 2;
}

.elementor-17202 .elementor-element.elementor-element-998dc26, .elementor-17202 .elementor-element.elementor-element-998dc26 > .elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-17202 .elementor-element.elementor-element-998dc26 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17202 .elementor-element.elementor-element-74e4207 > .elementor-element-populated {
    margin: 4px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-17202 .elementor-element.elementor-element-c636325 img {
    width: 100%;
}

.elementor-bc-flex-widget .elementor-17202 .elementor-element.elementor-element-6dfbb3b.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-17202 .elementor-element.elementor-element-6dfbb3b.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-17202 .elementor-element.elementor-element-2393b91 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-17202 .elementor-element.elementor-element-2393b91.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-secondary );
}

.elementor-17202 .elementor-element.elementor-element-2393b91.elementor-view-framed .elementor-icon, .elementor-17202 .elementor-element.elementor-element-2393b91.elementor-view-default .elementor-icon {
    color: var( --e-global-color-secondary );
    border-color: var( --e-global-color-secondary );
}

.elementor-17202 .elementor-element.elementor-element-2393b91.elementor-view-framed .elementor-icon, .elementor-17202 .elementor-element.elementor-element-2393b91.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-secondary );
}

.elementor-17202 .elementor-element.elementor-element-2393b91 .elementor-icon i, .elementor-17202 .elementor-element.elementor-element-2393b91 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-17202 .elementor-element.elementor-element-0b1b61a:not(.elementor-motion-effects-element-type-background), .elementor-17202 .elementor-element.elementor-element-0b1b61a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: transparent;
    // background-image: linear-gradient(180deg, #152442 0%, #15244200 100%);
    background-image: linear-gradient(130deg, #0044b8 0%, #003e9175 100%);
}

.elementor-17202 .elementor-element.elementor-element-0b1b61a {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #A28537;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 00%;
    margin-bottom: -10%;
    z-index: 2;
}

.elementor-17202 .elementor-element.elementor-element-0b1b61a, .elementor-17202 .elementor-element.elementor-element-0b1b61a > .elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-17202 .elementor-element.elementor-element-0b1b61a > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17202 .elementor-element.elementor-element-b62070e > .elementor-element-populated {
    margin: 4px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-17202 .elementor-element.elementor-element-7d28378 img {
    width: 70%;
}

.elementor-bc-flex-widget .elementor-17202 .elementor-element.elementor-element-5af1574.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-17202 .elementor-element.elementor-element-5af1574.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-bc-flex-widget .elementor-17202 .elementor-element.elementor-element-4c1d6a3.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-17202 .elementor-element.elementor-element-4c1d6a3.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-17202 .elementor-element.elementor-element-4c1d6a3.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    justify-content: flex-end;
}

@media(min-width: 768px) {
    .elementor-17202 .elementor-element.elementor-element-df21bac {
        width:25.852%;
    }

    .elementor-17202 .elementor-element.elementor-element-dced08c {
        width: 63.491%;
    }

    .elementor-17202 .elementor-element.elementor-element-9009db3 {
        width: 10%;
    }

    .elementor-17202 .elementor-element.elementor-element-b62070e {
        width: 25.852%;
    }

    .elementor-17202 .elementor-element.elementor-element-5af1574 {
        width: 63.491%;
    }

    .elementor-17202 .elementor-element.elementor-element-4c1d6a3 {
        width: 10%;
    }
}

@media(max-width: 767px) {
    .elementor-17202 .elementor-element.elementor-element-311cda5 {
        padding:0px 0px 0px 0px;
    }

    .elementor-17202 .elementor-element.elementor-element-df21bac {
        width: 70%;
    }

    .elementor-17202 .elementor-element.elementor-element-dced08c {
        width: 30%;
    }

    .elementor-17202 .elementor-element.elementor-element-9009db3 {
        width: 50%;
    }

    .elementor-17202 .elementor-element.elementor-element-998dc26 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-17202 .elementor-element.elementor-element-74e4207 {
        width: 70%;
    }

    .elementor-17202 .elementor-element.elementor-element-6dfbb3b {
        width: 30%;
    }

    .elementor-bc-flex-widget .elementor-17202 .elementor-element.elementor-element-6dfbb3b.elementor-column .elementor-column-wrap {
        align-items: center;
    }

    .elementor-17202 .elementor-element.elementor-element-6dfbb3b.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
        align-content: center;
        align-items: center;
    }

    .elementor-17202 .elementor-element.elementor-element-6dfbb3b.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
        justify-content: flex-end;
    }

    .elementor-17202 .elementor-element.elementor-element-2393b91 .elementor-icon-wrapper {
        text-align: center;
    }

    .elementor-17202 .elementor-element.elementor-element-2393b91 .elementor-icon {
        font-size: 23px;
    }

    .elementor-17202 .elementor-element.elementor-element-2393b91 > .elementor-widget-container {
        margin: 10px 0px 0px 0px;
        padding: 0% 0% 0% 0%;
    }

    .elementor-17202 .elementor-element.elementor-element-b62070e {
        width: 70%;
    }

    .elementor-17202 .elementor-element.elementor-element-5af1574 {
        width: 30%;
    }

    .elementor-17202 .elementor-element.elementor-element-4c1d6a3 {
        width: 50%;
    }
}
