<div data-elementor-type="header" data-elementor-id="17202"
  class="elementor elementor-17202 elementor-location-header" data-elementor-settings="[]">
  <div class="elementor-section-wrap">
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-0b1b61a elementor-hidden-tablet elementor-hidden-phone elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-sticky elementor-sticky--effects elementor-sticky--active elementor-section--handles-inside"
      data-id="0b1b61a" data-element_type="section"
      data-settings="{&quot;background_background&quot;:&quot;gradient&quot;,&quot;sticky&quot;:&quot;top&quot;,&quot;motion_fx_motion_fx_scrolling&quot;:&quot;yes&quot;,&quot;motion_fx_devices&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;],&quot;sticky_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;],&quot;sticky_offset&quot;:0,&quot;sticky_effects_offset&quot;:0}"
      style="position: fixed; width: 1423px; margin-top: 0px; margin-bottom: 0px; top: 0px;">
      <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-b62070e"
            data-id="b62070e" data-element_type="column">
            <div class="elementor-column-wrap elementor-element-populated">
              <div class="elementor-widget-wrap">
                <div class="elementor-element elementor-element-7d28378 elementor-widget elementor-widget-image"
                  data-id="7d28378" data-element_type="widget" data-widget_type="image.default">
                  <div class="elementor-widget-container">
                    <div class="elementor-image">
                      <a href="https://www.twwyachts.com/">
                        <img width="262" height="68"
                          src="/assets/icons/dummy-yacht-logo-transparent-white.png"
                          class="attachment" alt="" loading="lazy"> </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5af1574"
            data-id="5af1574" data-element_type="column">
            <div class="elementor-column-wrap elementor-element-populated">
              <div class="elementor-widget-wrap">
                <div
                  class="elementor-element elementor-element-c1c3ef7 elementor-widget elementor-widget-wp-widget-maxmegamenu"
                  data-id="c1c3ef7" data-element_type="widget" id="tww-mega-menu"
                  data-widget_type="wp-widget-maxmegamenu.default">
                  <div class="elementor-widget-container">
                    <div id="mega-menu-wrap-top-2" class="mega-menu-wrap">
                      <div class="mega-menu-toggle">
                        <div class="mega-toggle-blocks-left"></div>
                        <div class="mega-toggle-blocks-center"></div>
                        <div class="mega-toggle-blocks-right">
                          <div class="mega-toggle-block mega-menu-toggle-animated-block mega-toggle-block-0"
                            id="mega-toggle-block-0"><button aria-label="Toggle Menu"
                              class="mega-toggle-animated mega-toggle-animated-slider" type="button"
                              aria-expanded="false">
                              <span class="mega-toggle-animated-box">
                                <span class="mega-toggle-animated-inner"></span>
                              </span>
                            </button></div>
                        </div>
                      </div>
                      <ul id="mega-menu-top-2" class="mega-menu max-mega-menu mega-menu-horizontal"
                        data-event="hover_intent" data-effect="fade_up" data-effect-speed="200"
                        data-effect-mobile="disabled" data-effect-speed-mobile="0" data-mobile-force-width="body"
                        data-second-click="go" data-document-click="collapse" data-vertical-behaviour="standard"
                        data-breakpoint="768" data-unbind="true" data-mobile-state="collapse_all"
                        data-hover-intent-timeout="300" data-hover-intent-interval="100">
                        <li
                          class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-menu-megamenu mega-align-bottom-left mega-menu-grid mega-hide-arrow mega-menu-item-17206 menu-item"
                          id="mega-menu-item-17206"><a class="mega-menu-link"
                            href="https://www.twwyachts.com/yachts-for-sale/" aria-haspopup="true" aria-expanded="false"
                            tabindex="0">SALES<span class="mega-indicator" data-has-click-event="true"></span></a>
                          <ul class="mega-sub-menu">
                            <li class="mega-menu-row menu-item" id="mega-menu-17206-0">
                              <ul class="mega-sub-menu">
                                <li class="mega-menu-column mega-menu-columns-4-of-12 menu-item"
                                  id="mega-menu-17206-0-0">
                                  <ul class="mega-sub-menu">
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_text mega-menu-item-text-23 menu-item"
                                      id="mega-menu-item-text-23">
                                      <div class="textwidget">
                                        <p><a href="https://www.twwyachts.com/luxury-yachts-for-sale/">Yachts for
                                            Sale</a></p>
                                        <p><a href="https://www.twwyachts.com/yacht-brokerage/">Selling a Yacht</a></p>
                                        <p><a href="https://www.twwyachts.com/brokerage-shipyards/">Shipyards</a></p>
                                        <p><a href="https://www.twwyachts.com/tenders-for-sale/">Tenders</a>&nbsp;
                                          &nbsp;&amp; &nbsp;&nbsp;<a
                                            href="https://www.twwyachts.com/yacht-toys-for-sale/">Toys</a></p>
                                        <p><a href="https://www.twwyachts.com/yacht-berths-for-sale/">Berths</a></p>
                                        <p><a href="https://www.twwyachts.com/yacht-sales/">Recent Sales</a></p>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                                <li class="mega-menu-column mega-menu-columns-4-of-12 menu-item"
                                  id="mega-menu-17206-0-1">
                                  <ul class="mega-sub-menu">
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_media_image mega-menu-item-media_image-19 menu-item"
                                      id="mega-menu-item-media_image-19"><a
                                        href="https://www.twwyachts.com/yachts-for-sale/globas-274562/"><img width="300"
                                          height="200"
                                          src="https://www.twwyachts.com/wp-content/uploads/2022/02/DJI_0221-300x200.jpg"
                                          class="image wp-image-28966  attachment-medium size-medium"
                                          alt="Globas Sanlorenzo 460EXP yacht for sale" loading="lazy"
                                          style="max-width: 100%; height: auto;"
                                          srcset="https://www.twwyachts.com/wp-content/uploads/2022/02/DJI_0221-300x200.jpg 300w, https://www.twwyachts.com/wp-content/uploads/2022/02/DJI_0221-1024x683.jpg 1024w, https://www.twwyachts.com/wp-content/uploads/2022/02/DJI_0221-768x512.jpg 768w, https://www.twwyachts.com/wp-content/uploads/2022/02/DJI_0221.jpg 1500w"
                                          sizes="100vw"></a></li>
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_text mega-menu-item-text-24 menu-item"
                                      id="mega-menu-item-text-24">
                                      <div class="textwidget">
                                        <p><a href="https://www.twwyachts.com/yachts-for-sale/globas-274562/">GLOBAS</a>
                                        </p>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                                <li class="mega-menu-column mega-menu-columns-4-of-12 menu-item"
                                  id="mega-menu-17206-0-2">
                                  <ul class="mega-sub-menu">
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_media_image mega-menu-item-media_image-20 menu-item"
                                      id="mega-menu-item-media_image-20"><a
                                        href="https://www.twwyachts.com/yachts-for-sale/mrs-g-275508/"><img width="300"
                                          height="200"
                                          src="https://www.twwyachts.com/wp-content/uploads/2022/01/DJI_0408-300x200.jpg"
                                          class="image wp-image-28042  attachment-medium size-medium" alt=""
                                          loading="lazy" style="max-width: 100%; height: auto;"
                                          srcset="https://www.twwyachts.com/wp-content/uploads/2022/01/DJI_0408-300x200.jpg 300w, https://www.twwyachts.com/wp-content/uploads/2022/01/DJI_0408-1024x683.jpg 1024w, https://www.twwyachts.com/wp-content/uploads/2022/01/DJI_0408-768x512.jpg 768w, https://www.twwyachts.com/wp-content/uploads/2022/01/DJI_0408-1536x1024.jpg 1536w, https://www.twwyachts.com/wp-content/uploads/2022/01/DJI_0408.jpg 1920w"
                                          sizes="100vw"></a></li>
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_text mega-menu-item-text-25 menu-item"
                                      id="mega-menu-item-text-25">
                                      <div class="textwidget">
                                        <p><a href="https://www.twwyachts.com/yachts-for-sale/mrs-g-275508/">MRS G</a>
                                        </p>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <!-- <li
                          class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-menu-megamenu mega-align-bottom-left mega-menu-grid mega-hide-arrow mega-menu-item-17207 menu-item"
                          id="mega-menu-item-17207"><a class="mega-menu-link"
                            href="https://www.twwyachts.com/yachts-for-charter/" aria-haspopup="true"
                            aria-expanded="false" tabindex="0">SLOEP<span class="mega-indicator"
                              data-has-click-event="true"></span></a>
                          <ul class="mega-sub-menu">
                            <li class="mega-menu-row menu-item" id="mega-menu-17207-0">
                              <ul class="mega-sub-menu">
                                <li class="mega-menu-column mega-menu-columns-4-of-12 menu-item"
                                  id="mega-menu-17207-0-0">
                                  <ul class="mega-sub-menu">
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_text mega-menu-item-text-26 menu-item"
                                      id="mega-menu-item-text-26">
                                      <div class="textwidget">
                                        <p><a href="https://www.twwyachts.com/yachts-for-charter/">Yachts for Charter
                                          </a></p>
                                        <p><a href="https://www.twwyachts.com/yacht-charters/">Destinations</a></p>
                                        <p><a href="https://www.twwyachts.com/experiences/">Experiences</a></p>
                                        <p><a href="https://www.twwyachts.com/yacht-charter-marketing/">Charter
                                            Management</a></p>
                                        <p><a
                                            href="https://www.twwyachts.com/wp-content/uploads/2021/05/TUSG-single-pages.pdf"
                                            target="_blank" rel="noopener">Charter Guide</a></p>
                                        <p><a href="https://www.twwyachts.com/yacht-marketing/">Yacht Marketing</a></p>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                                <li class="mega-menu-column mega-menu-columns-4-of-12 menu-item"
                                  id="mega-menu-17207-0-1">
                                  <ul class="mega-sub-menu">
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_media_image mega-menu-item-media_image-21 menu-item"
                                      id="mega-menu-item-media_image-21"><a
                                        href="https://www.twwyachts.com/yachts-for-charter/nitakii"><img width="300"
                                          height="200"
                                          src="https://www.twwyachts.com/wp-content/uploads/2021/09/171_AMELS_NITA_K_II_WEB-1-1-300x200.jpg"
                                          class="image wp-image-22340  attachment-medium size-medium" alt=""
                                          loading="lazy" style="max-width: 100%; height: auto;"
                                          srcset="https://www.twwyachts.com/wp-content/uploads/2021/09/171_AMELS_NITA_K_II_WEB-1-1-300x200.jpg 300w, https://www.twwyachts.com/wp-content/uploads/2021/09/171_AMELS_NITA_K_II_WEB-1-1-1024x682.jpg 1024w, https://www.twwyachts.com/wp-content/uploads/2021/09/171_AMELS_NITA_K_II_WEB-1-1-768x512.jpg 768w, https://www.twwyachts.com/wp-content/uploads/2021/09/171_AMELS_NITA_K_II_WEB-1-1-1536x1024.jpg 1536w, https://www.twwyachts.com/wp-content/uploads/2021/09/171_AMELS_NITA_K_II_WEB-1-1.jpg 1619w"
                                          sizes="100vw"></a></li>
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_text mega-menu-item-text-27 menu-item"
                                      id="mega-menu-item-text-27">
                                      <div class="textwidget">
                                        <p><a href="https://www.twwyachts.com/yachts-for-charter/nitakii">NITA K II</a>
                                        </p>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                                <li class="mega-menu-column mega-menu-columns-4-of-12 menu-item"
                                  id="mega-menu-17207-0-2">
                                  <ul class="mega-sub-menu">
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_media_image mega-menu-item-media_image-22 menu-item"
                                      id="mega-menu-item-media_image-22"><a
                                        href="https://www.twwyachts.com/yachts-for-charter/takaraone/"><img width="300"
                                          height="200"
                                          src="https://www.twwyachts.com/wp-content/uploads/2021/10/DJI_0217-1-300x200.jpg"
                                          class="image wp-image-23081  attachment-medium size-medium" alt=""
                                          loading="lazy" style="max-width: 100%; height: auto;"
                                          srcset="https://www.twwyachts.com/wp-content/uploads/2021/10/DJI_0217-1-300x200.jpg 300w, https://www.twwyachts.com/wp-content/uploads/2021/10/DJI_0217-1-1024x683.jpg 1024w, https://www.twwyachts.com/wp-content/uploads/2021/10/DJI_0217-1-768x512.jpg 768w, https://www.twwyachts.com/wp-content/uploads/2021/10/DJI_0217-1-1536x1024.jpg 1536w, https://www.twwyachts.com/wp-content/uploads/2021/10/DJI_0217-1.jpg 1920w"
                                          sizes="100vw"></a></li>
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_text mega-menu-item-text-28 menu-item"
                                      id="mega-menu-item-text-28">
                                      <div class="textwidget">
                                        <p><a href="https://www.twwyachts.com/yachts-for-charter/takaraone/">TAKARA
                                            ONE</a></p>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li
                          class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-menu-megamenu mega-align-bottom-left mega-menu-grid mega-hide-arrow mega-menu-item-17208 menu-item"
                          id="mega-menu-item-17208"><a class="mega-menu-link"
                            href="https://www.twwyachts.com/superyacht-management/" aria-haspopup="true"
                            aria-expanded="false" tabindex="0">WILMA 28<span class="mega-indicator"
                              data-has-click-event="true"></span></a>
                          <ul class="mega-sub-menu">
                            <li class="mega-menu-row menu-item" id="mega-menu-17208-0">
                              <ul class="mega-sub-menu">
                                <li class="mega-menu-column mega-menu-columns-4-of-12 menu-item"
                                  id="mega-menu-17208-0-0">
                                  <ul class="mega-sub-menu">
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_text mega-menu-item-text-31 menu-item"
                                      id="mega-menu-item-text-31">
                                      <div class="textwidget">
                                        <p><a href="https://www.twwyachts.com/superyacht-management/">Superyacht
                                            Management</a></p>
                                        <p><a
                                            href="https://www.twwyachts.com/superyacht-management/accounting/">Accounting</a>
                                        </p>
                                        <p><a
                                            href="https://www.twwyachts.com/superyacht-management/operations/">Operations</a>
                                        </p>
                                        <p><a
                                            href="https://www.twwyachts.com/superyacht-management/technical/">Technical</a>
                                        </p>
                                        <p><a
                                            href="https://www.twwyachts.com/superyacht-management/crew-structure/">Crew
                                            Structure</a></p>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                                <li class="mega-menu-column mega-menu-columns-4-of-12 menu-item"
                                  id="mega-menu-17208-0-1">
                                  <ul class="mega-sub-menu">
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_media_image mega-menu-item-media_image-23 menu-item"
                                      id="mega-menu-item-media_image-23"><img width="300" height="200"
                                        src="https://www.twwyachts.com/wp-content/uploads/2020/03/Starburst-III-4-of-46-e1583863479987-300x200.jpg"
                                        class="image wp-image-1954  attachment-medium size-medium" alt="" loading="lazy"
                                        style="max-width: 100%; height: auto;"
                                        srcset="https://www.twwyachts.com/wp-content/uploads/2020/03/Starburst-III-4-of-46-e1583863479987-300x200.jpg 300w, https://www.twwyachts.com/wp-content/uploads/2020/03/Starburst-III-4-of-46-e1583863479987-1024x683.jpg 1024w, https://www.twwyachts.com/wp-content/uploads/2020/03/Starburst-III-4-of-46-e1583863479987-768x512.jpg 768w, https://www.twwyachts.com/wp-content/uploads/2020/03/Starburst-III-4-of-46-e1583863479987.jpg 1320w"
                                        sizes="100vw"></li>
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_text mega-menu-item-text-29 menu-item"
                                      id="mega-menu-item-text-29">
                                      <div class="textwidget">
                                        <p>STARBURST III</p>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                                <li class="mega-menu-column mega-menu-columns-4-of-12 menu-item"
                                  id="mega-menu-17208-0-2">
                                  <ul class="mega-sub-menu">
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_media_image mega-menu-item-media_image-24 menu-item"
                                      id="mega-menu-item-media_image-24"><img width="300" height="200"
                                        src="https://www.twwyachts.com/wp-content/uploads/2020/02/P19_day1_365-300x200.jpg"
                                        class="image wp-image-6067  attachment-medium size-medium" alt="" loading="lazy"
                                        style="max-width: 100%; height: auto;"
                                        srcset="https://www.twwyachts.com/wp-content/uploads/2020/02/P19_day1_365-300x200.jpg 300w, https://www.twwyachts.com/wp-content/uploads/2020/02/P19_day1_365-1024x683.jpg 1024w, https://www.twwyachts.com/wp-content/uploads/2020/02/P19_day1_365-768x512.jpg 768w, https://www.twwyachts.com/wp-content/uploads/2020/02/P19_day1_365.jpg 1500w"
                                        sizes="100vw"></li>
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_text mega-menu-item-text-30 menu-item"
                                      id="mega-menu-item-text-30">
                                      <div class="textwidget">
                                        <p>PREFERENCE 19</p>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li> -->
                        <li
                          class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-menu-megamenu mega-align-bottom-left mega-menu-grid mega-hide-arrow mega-menu-item-17210 menu-item"
                          id="mega-menu-item-17210"><a class="mega-menu-link"
                            href="https://www.twwyachts.com/superyacht-construction/" aria-haspopup="true"
                            aria-expanded="false" tabindex="0">CONTACT<span class="mega-indicator"
                              data-has-click-event="true"></span></a>
                          <ul class="mega-sub-menu">
                            <li class="mega-menu-row menu-item" id="mega-menu-17210-0">
                              <ul class="mega-sub-menu">
                                <li class="mega-menu-column mega-menu-columns-4-of-12 menu-item"
                                  id="mega-menu-17210-0-0">
                                  <ul class="mega-sub-menu">
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_text mega-menu-item-text-34 menu-item"
                                      id="mega-menu-item-text-34">
                                      <div class="textwidget">
                                        <p><a href="https://www.twwyachts.com/superyacht-construction/">Superyacht
                                            Construction</a></p>
                                        <p><a href="https://www.twwyachts.com/new-yachts-for-sale/">New Yachts for
                                            Sale</a></p>
                                        <p><a href="https://www.twwyachts.com/yacht-design/">Yacht Design</a></p>
                                        <p><a href="https://www.twwyachts.com/brokerage-shipyards/">Yacht Shipyards</a>
                                        </p>
                                        <p><a href="https://www.twwyachts.com/superyacht-construction/custom/">Custom
                                            Construction</a></p>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                                <li class="mega-menu-column mega-menu-columns-4-of-12 menu-item"
                                  id="mega-menu-17210-0-1">
                                  <ul class="mega-sub-menu">
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_media_image mega-menu-item-media_image-25 menu-item"
                                      id="mega-menu-item-media_image-25"><a
                                        href="https://www.twwyachts.com/new-yachts-for-sale/heesen-55m-apollo/"><img
                                          width="300" height="200"
                                          src="https://www.twwyachts.com/wp-content/uploads/2021/10/YN20255-Apollo-ext1-e1637762238997-300x200.jpeg"
                                          class="image wp-image-22565  attachment-medium size-medium" alt=""
                                          loading="lazy" style="max-width: 100%; height: auto;"
                                          srcset="https://www.twwyachts.com/wp-content/uploads/2021/10/YN20255-Apollo-ext1-e1637762238997-300x200.jpeg 300w, https://www.twwyachts.com/wp-content/uploads/2021/10/YN20255-Apollo-ext1-e1637762238997-1024x682.jpeg 1024w, https://www.twwyachts.com/wp-content/uploads/2021/10/YN20255-Apollo-ext1-e1637762238997-768x511.jpeg 768w, https://www.twwyachts.com/wp-content/uploads/2021/10/YN20255-Apollo-ext1-e1637762238997.jpeg 1352w"
                                          sizes="100vw"></a></li>
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_text mega-menu-item-text-32 menu-item"
                                      id="mega-menu-item-text-32">
                                      <div class="textwidget">
                                        <p><a
                                            href="https://www.twwyachts.com/new-yachts-for-sale/heesen-55m-apollo/">Heesen
                                            55m Steel</a></p>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                                <li class="mega-menu-column mega-menu-columns-4-of-12 menu-item"
                                  id="mega-menu-17210-0-2">
                                  <ul class="mega-sub-menu">
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_media_image mega-menu-item-media_image-26 menu-item"
                                      id="mega-menu-item-media_image-26"><a
                                        href="https://www.twwyachts.com/new-yachts-for-sale/oasis-40m/"><img width="300"
                                          height="200"
                                          src="https://www.twwyachts.com/wp-content/uploads/2020/09/Benetti-Oasis-40m-300x200.jpg"
                                          class="image wp-image-7116  attachment-medium size-medium" alt=""
                                          loading="lazy" style="max-width: 100%; height: auto;"
                                          srcset="https://www.twwyachts.com/wp-content/uploads/2020/09/Benetti-Oasis-40m-300x200.jpg 300w, https://www.twwyachts.com/wp-content/uploads/2020/09/Benetti-Oasis-40m-1024x683.jpg 1024w, https://www.twwyachts.com/wp-content/uploads/2020/09/Benetti-Oasis-40m-768x512.jpg 768w, https://www.twwyachts.com/wp-content/uploads/2020/09/Benetti-Oasis-40m-1536x1024.jpg 1536w, https://www.twwyachts.com/wp-content/uploads/2020/09/Benetti-Oasis-40m-2048x1365.jpg 2048w"
                                          sizes="100vw"></a></li>
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_text mega-menu-item-text-33 menu-item"
                                      id="mega-menu-item-text-33">
                                      <div class="textwidget">
                                        <p><a href="https://www.twwyachts.com/new-yachts-for-sale/oasis-40m/">Benetti
                                            Oasis</a></p>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li
                          class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-menu-megamenu mega-align-bottom-left mega-menu-grid mega-hide-arrow mega-menu-item-17212 menu-item"
                          id="mega-menu-item-17212"><a class="mega-menu-link"
                            href="https://www.twwyachts.com/monaco-yacht-brokers/" aria-haspopup="true"
                            aria-expanded="false" tabindex="0">ABOUT<span class="mega-indicator"
                              data-has-click-event="true"></span></a>
                          <ul class="mega-sub-menu">
                            <li class="mega-menu-row menu-item" id="mega-menu-17212-0">
                              <ul class="mega-sub-menu">
                                <li class="mega-menu-column mega-menu-columns-4-of-12 menu-item"
                                  id="mega-menu-17212-0-0">
                                  <ul class="mega-sub-menu">
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_text mega-menu-item-text-39 menu-item"
                                      id="mega-menu-item-text-39">
                                      <div class="textwidget">
                                        <p><a href="https://www.twwyachts.com/monaco-yacht-brokers/">Team</a></p>
                                        <p><a href="https://www.twwyachts.com/offices/">Offices</a></p>
                                        <p><a href="https://www.twwyachts.com/yacht-shows/">Yacht Shows</a></p>
                                        <p><a href="https://www.twwyachts.com/news/">News</a></p>
                                        <p><a href="https://www.twwyachts.com/career/">Careers</a></p>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                                <li class="mega-menu-column mega-menu-columns-4-of-12 menu-item"
                                  id="mega-menu-17212-0-1">
                                  <ul class="mega-sub-menu">
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_media_image mega-menu-item-media_image-29 menu-item"
                                      id="mega-menu-item-media_image-29"><a
                                        href="https://www.twwyachts.com/office/monaco/"><img width="300" height="200"
                                          src="https://www.twwyachts.com/wp-content/uploads/2020/09/TWW-Offices-2-e1601021789532-300x200.jpg"
                                          class="image wp-image-7055  attachment-medium size-medium" alt=""
                                          loading="lazy" style="max-width: 100%; height: auto;"
                                          srcset="https://www.twwyachts.com/wp-content/uploads/2020/09/TWW-Offices-2-e1601021789532-300x200.jpg 300w, https://www.twwyachts.com/wp-content/uploads/2020/09/TWW-Offices-2-e1601021789532-768x513.jpg 768w, https://www.twwyachts.com/wp-content/uploads/2020/09/TWW-Offices-2-e1601021789532.jpg 842w"
                                          sizes="100vw"></a></li>
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_text mega-menu-item-text-40 menu-item"
                                      id="mega-menu-item-text-40">
                                      <div class="textwidget">
                                        <p><a href="https://www.twwyachts.com/office/monaco/">Monaco</a></p>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                                <li class="mega-menu-column mega-menu-columns-4-of-12 menu-item"
                                  id="mega-menu-17212-0-2">
                                  <ul class="mega-sub-menu">
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_media_image mega-menu-item-media_image-30 menu-item"
                                      id="mega-menu-item-media_image-30"><a
                                        href="https://www.twwyachts.com/office/london/"><img width="300" height="200"
                                          src="https://www.twwyachts.com/wp-content/uploads/2020/09/TWW-Offices-1-e1601021736755-300x200.jpg"
                                          class="image wp-image-7054  attachment-medium size-medium" alt=""
                                          loading="lazy" style="max-width: 100%; height: auto;"
                                          srcset="https://www.twwyachts.com/wp-content/uploads/2020/09/TWW-Offices-1-e1601021736755-300x200.jpg 300w, https://www.twwyachts.com/wp-content/uploads/2020/09/TWW-Offices-1-e1601021736755-768x511.jpg 768w, https://www.twwyachts.com/wp-content/uploads/2020/09/TWW-Offices-1-e1601021736755.jpg 845w"
                                          sizes="100vw"></a></li>
                                    <li
                                      class="mega-menu-item mega-menu-item-type-widget widget_text mega-menu-item-text-38 menu-item"
                                      id="mega-menu-item-text-38">
                                      <div class="textwidget">
                                        <p><a href="https://www.twwyachts.com/office/london/">London</a></p>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-4c1d6a3 elementor-hidden-tablet elementor-hidden-phone"
            data-id="4c1d6a3" data-element_type="column">
            <div class="elementor-column-wrap">
              <div class="elementor-widget-wrap">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>