<div data-elementor-type="footer" data-elementor-id="17230" class="elementor elementor-17230 elementor-location-footer"
    data-elementor-settings="[]">
    <div class="elementor-section-wrap">
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-dcd26e0 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="dcd26e0" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-bdb513c"
                        data-id="bdb513c" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-8f748b2 elementor-widget elementor-widget-image"
                                    data-id="8f748b2" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                            <img width="1668" height="1221"
                                                src="/assets/icons/dummy-yacht-logo-transparent-white.png"
                                                class="attachment-full size-full" alt="" loading="lazy" style="color: #ffffff;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-d61da4f"
                        data-id="d61da4f" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-8155bf6 elementor-widget elementor-widget-text-editor"
                                    data-id="8155bf6" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p><span style="color: #ffffff;"><a style="color: #ffffff;"
                                                        href="https://www.twwyachts.com/luxury-yachts-for-sale/">YACHTS
                                                        FOR SALE</a></span></p>
                                            <p><span style="color: #ffffff;"><a style="color: #ffffff;"
                                                        href="https://www.twwyachts.com/luxury-yachts-for-charter/">YACHTS
                                                        FOR CHARTER</a></span></p>
                                            <p><span style="color: #ffffff;"><a style="color: #ffffff;"
                                                        href="https://www.twwyachts.com/yacht-charter-marketing/">CHARTER
                                                        MANAGEMENT</a></span></p>
                                            <p><span style="color: #ffffff;"><a style="color: #ffffff;"
                                                        href="https://www.twwyachts.com/superyacht-construction">NEW
                                                        BUILD</a></span></p>
                                            <p><span style="color: #ffffff;"><a style="color: #ffffff;"
                                                        href="https://www.twwyachts.com/superyacht-management/">MANAGEMENT</a></span>
                                            </p>
                                            <p><span style="color: #ffffff;"><a style="color: #ffffff;"
                                                        href="https://www.twwyachts.com/yacht-crew/">CREW
                                                        PLACEMENT</a></span></p>
                                            <p><span style="color: #ffffff;"><a style="color: #ffffff;"
                                                        href="https://www.twwyachts.com/monaco-yacht-brokers/">TEAM</a></span>
                                            </p>
                                            <p><span style="color: #ffffff;"><a style="color: #ffffff;"
                                                        href="https://www.twwyachts.com/news/">NEWS</a></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-b51915f"
                        data-id="b51915f" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-200ac14 elementor-widget elementor-widget-text-editor"
                                    data-id="200ac14" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p><span style="color: #ffffff;"><a style="color: #ffffff;"
                                                        href="mailto:anton@gullander.eu">anton@gullander.eu</a>&nbsp;</span>
                                            </p>
                                            <p><span style="color: #ffffff;"><a style="color: #ffffff;"
                                                        href="tel: +999 99 99 99 99">+999 99 99 99 99</a></span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-628bcb0 elementor-widget elementor-widget-text-editor"
                                    data-id="628bcb0" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            Kunkels Väg 3, Brastad 454 93 Västra Götaland, <br>  454 93, Sweden <br> </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-5d02bbc elementor-shape-circle e-grid-align-left e-grid-align-mobile-center elementor-grid-0 elementor-widget elementor-widget-social-icons"
                                    data-id="5d02bbc" data-element_type="widget"
                                    data-widget_type="social-icons.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-social-icons-wrapper elementor-grid">
                                            <span class="elementor-grid-item">
                                                <a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-5e3d796"
                                                    href="https://www.instagram.com/twwyachts/" target="_blank">
                                                    <span class="elementor-screen-only">Instagram</span>
                                                    <i class="fab fa-instagram"></i> </a>
                                            </span>
                                            <span class="elementor-grid-item">
                                                <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-repeater-item-6fb5456"
                                                    href="https://www.facebook.com/TWWYachts/" target="_blank">
                                                    <span class="elementor-screen-only">Facebook-f</span>
                                                    <i class="fab fa-facebook-f"></i> </a>
                                            </span>
                                            <span class="elementor-grid-item">
                                                <a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-repeater-item-19308e9"
                                                    href="https://www.linkedin.com/company/tww-yachts/" target="_blank">
                                                    <span class="elementor-screen-only">Linkedin</span>
                                                    <i class="fab fa-linkedin"></i> </a>
                                            </span>
                                            <span class="elementor-grid-item">
                                                <a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-56c2707"
                                                    href="https://www.youtube.com/channel/UC5dNfMfg9IXImgbUG_lg7AA"
                                                    target="_blank">
                                                    <span class="elementor-screen-only">Youtube</span>
                                                    <i class="fab fa-youtube"></i> </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section
            class="elementor-section elementor-top-section elementor-element elementor-element-7e6389c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="7e6389c" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-fa71d26"
                        data-id="fa71d26" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-a4e25ec elementor-widget elementor-widget-text-editor"
                                    data-id="a4e25ec" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            ©2022 Yacht Charter. All rights reserved. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-8081854"
                        data-id="8081854" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-c35c4f7 elementor-widget elementor-widget-text-editor"
                                    data-id="c35c4f7" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p><span style="text-decoration: underline;"><span
                                                        style="color: #ffffff;"><a
                                                            style="color: #ffffff; text-decoration: underline;"
                                                            href="https://www.twwyachts.com/privacy-policies/">Privacy
                                                            Policy</a></span></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f635f3d"
                        data-id="f635f3d" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-b10cc73 elementor-widget elementor-widget-text-editor"
                                    data-id="b10cc73" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p><span style="color: #ffffff;">SEO by <a style="color: #ffffff;"
                                                        href="https://t-agency.fr/" target="_blank" rel="noopener">The
                                                        Agency</a></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    </div>
</div>