.elementor-17230 .elementor-element.elementor-element-dcd26e0:not(.elementor-motion-effects-element-type-background), .elementor-17230 .elementor-element.elementor-element-dcd26e0 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    // background-color: #152442;
    background-color: #1e3252;
}

.elementor-17230 .elementor-element.elementor-element-dcd26e0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2% 5% 2% 5%;
}

.elementor-17230 .elementor-element.elementor-element-dcd26e0 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-17230 .elementor-element.elementor-element-bdb513c.elementor-column .elementor-column-wrap {
    align-items: flex-start;
}

.elementor-17230 .elementor-element.elementor-element-bdb513c.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-17230 .elementor-element.elementor-element-bdb513c.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    justify-content: center;
}

.elementor-17230 .elementor-element.elementor-element-bdb513c > .elementor-element-populated > .elementor-widget-wrap {
    padding: 5% 5% 5% 5%;
}

.elementor-17230 .elementor-element.elementor-element-8f748b2 {
    text-align: center;
}

.elementor-17230 .elementor-element.elementor-element-8f748b2 img {
    width: 80%;
}

.elementor-17230 .elementor-element.elementor-element-d61da4f > .elementor-element-populated > .elementor-widget-wrap {
    padding: 2% 5% 5% 5%;
}

.elementor-17230 .elementor-element.elementor-element-8155bf6 {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 2.2em;
    letter-spacing: 1.7px;
}

.elementor-17230 .elementor-element.elementor-element-b51915f > .elementor-element-populated > .elementor-widget-wrap {
    padding: 2% 5% 5% 5%;
}

.elementor-17230 .elementor-element.elementor-element-200ac14 {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.9em;
}

.elementor-17230 .elementor-element.elementor-element-628bcb0 {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.elementor-17230 .elementor-element.elementor-element-628bcb0 > .elementor-widget-container {
    padding: 22% 0% 0% 0%;
}

.elementor-17230 .elementor-element.elementor-element-5d02bbc {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 15px;
    --grid-column-gap: 10px;
    --grid-row-gap: 0px;
}

.elementor-17230 .elementor-element.elementor-element-5d02bbc .elementor-widget-container {
    text-align: left;
}

.elementor-17230 .elementor-element.elementor-element-5d02bbc .elementor-social-icon {
    background-color: var( --e-global-color-secondary );
    --icon-padding: 0.7em;
}

.elementor-17230 .elementor-element.elementor-element-5d02bbc .elementor-social-icon i {
    // color: #152442;
    color: #FFFFFF;
}

.elementor-17230 .elementor-element.elementor-element-5d02bbc .elementor-social-icon svg {
    // fill: #152442;
    fill: #1e3252;
}

.elementor-17230 .elementor-element.elementor-element-5d02bbc > .elementor-widget-container {
    padding: 0% 5% 0% 0%;
}

.elementor-17230 .elementor-element.elementor-element-7e6389c:not(.elementor-motion-effects-element-type-background), .elementor-17230 .elementor-element.elementor-element-7e6389c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    // background-color: #152442;
    background-color: #1e3252;
}

.elementor-17230 .elementor-element.elementor-element-7e6389c {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1% 5% 1% 5%;
}

.elementor-17230 .elementor-element.elementor-element-7e6389c, .elementor-17230 .elementor-element.elementor-element-7e6389c > .elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-17230 .elementor-element.elementor-element-7e6389c > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-17230 .elementor-element.elementor-element-fa71d26.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-17230 .elementor-element.elementor-element-fa71d26.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-17230 .elementor-element.elementor-element-fa71d26 > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0% 5% 0% 5%;
}

.elementor-17230 .elementor-element.elementor-element-a4e25ec {
    text-align: center;
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.elementor-17230 .elementor-element.elementor-element-a4e25ec > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-17230 .elementor-element.elementor-element-8081854.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-17230 .elementor-element.elementor-element-8081854.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-17230 .elementor-element.elementor-element-8081854.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-17230 .elementor-element.elementor-element-c35c4f7 {
    text-align: left;
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 1em;
}

.elementor-17230 .elementor-element.elementor-element-f635f3d.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-17230 .elementor-element.elementor-element-b10cc73 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.elementor-17230 .elementor-element.elementor-element-b10cc73 > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    padding: 0px 0px 0px 0px;
}

@media(min-width: 768px) {
    .elementor-17230 .elementor-element.elementor-element-bdb513c {
        width:33.5%;
    }

    .elementor-17230 .elementor-element.elementor-element-d61da4f {
        width: 32.656%;
    }

    .elementor-17230 .elementor-element.elementor-element-b51915f {
        width: 33.176%;
    }

    .elementor-17230 .elementor-element.elementor-element-fa71d26 {
        width: 33.5%;
    }

    .elementor-17230 .elementor-element.elementor-element-8081854 {
        width: 32.832%;
    }
}

@media(max-width: 767px) {
    .elementor-17230 .elementor-element.elementor-element-dcd26e0 {
        padding:16px 0px 25px 0px;
    }

    .elementor-17230 .elementor-element.elementor-element-8f748b2 img {
        width: 65%;
    }

    .elementor-17230 .elementor-element.elementor-element-d61da4f > .elementor-element-populated > .elementor-widget-wrap {
        padding: 8% 0% 0% 0%;
    }

    .elementor-17230 .elementor-element.elementor-element-8155bf6 {
        text-align: center;
    }

    .elementor-17230 .elementor-element.elementor-element-b51915f > .elementor-element-populated > .elementor-widget-wrap {
        padding: 39px 0px 0px 0px;
    }

    .elementor-17230 .elementor-element.elementor-element-200ac14 {
        text-align: center;
    }

    .elementor-17230 .elementor-element.elementor-element-628bcb0 {
        text-align: center;
    }

    .elementor-17230 .elementor-element.elementor-element-628bcb0 > .elementor-widget-container {
        padding: 19px 0px 0px 0px;
    }

    .elementor-17230 .elementor-element.elementor-element-5d02bbc .elementor-widget-container {
        text-align: center;
    }

    .elementor-17230 .elementor-element.elementor-element-5d02bbc {
        --icon-size: 19px;
        --grid-column-gap: 6px;
    }

    .elementor-17230 .elementor-element.elementor-element-5d02bbc .elementor-social-icon {
        --icon-padding: 0.6em;
    }

    .elementor-17230 .elementor-element.elementor-element-5d02bbc > .elementor-widget-container {
        padding: 18px 0px 0px 0px;
    }

    .elementor-17230 .elementor-element.elementor-element-7e6389c {
        padding: 5px 0px 15px 0px;
    }

    .elementor-17230 .elementor-element.elementor-element-a4e25ec {
        text-align: center;
    }

    .elementor-17230 .elementor-element.elementor-element-c35c4f7 {
        text-align: center;
    }

    .elementor-17230 .elementor-element.elementor-element-b10cc73 {
        text-align: center;
    }
}
