<div class="container-fluid layout">
    <div class="customized-containers">
        <div class="login_box">
            <form >
                <div class="vertial-adjust">
                    <div class="logo">
                        <img src="assets/icons/dummy-yacht-logo-resized.png"/>
                        <h1 class="logo-text"> Menu </h1>
                    </div>

                    <div class="login-button">
                        <button [routerLink]="['/admin/edit-home']"> Edit - Home </button>
                    </div>
                    <div class="login-button">
                        <button [routerLink]="['/admin/edit-boat-info']"> Edit - Boats </button>
                    </div>
                    <div class="login-button">
                        <button [routerLink]="['/admin/edit-q-spd']"> Edit - Q - SPD Drives </button>
                    </div>
                    <!-- <div class="login-button">
                        <button>Edit - S - QPD</button>
                    </div> -->
                </div>
            </form>
        </div>
    </div>
</div>
